<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/js/app.js" defer></script>
  <title>main</title>
</head>

<body>
<div class="full-box">
<div class="upper-box pb-4">
  <div class="container text-center">
    <div class="row pt-5" id="logo"> 
      <div class="col-sm-2 col-md-2 col-lg-2"></div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <img class="logo" src="/assets/americanIdol.png" alt="">
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2"></div>
    </div>
    <div class="row pt-5" id="header">
      <div class="col-sm-2 col-md-2 col-lg-2"></div>
      <h1 class="col-sm-8 col-md-8 col-lg-8">Join the band!</h1>
      <div class="col-sm-2 col-md-2 col-lg-2"></div>
    </div>
    <div class="row mt-3 pt-4 mb-4 pb-3" id="sub-header">
      <div class="col-sm-2 col-md-2 col-lg-3"></div>
      <div class="col-sm-8 col-md-8 col-lg-6 sub-header">Are you a big blah blah fan? Have you ever wondered what goes backstage?
        Do you want to follow along your favorite idols journey? Join our newsletter!</div>
      <div class="col-sm-2 col-md-2 col-lg-3"></div>
    </div>
    <div class="row pt-3 pb-5 mb-2 info" id="info">
      <!-- <div class="col-sm-2 col-md-2 col-lg-2"></div> -->
      <div class="col-sm-3" href="">Cast interviews</div>
      <div class="col-sm-3" href="">Never before seen footage</div>
      <div class="col-sm-3" href="">Behind-the-scene clips</div>
      <div class="col-sm-3" href="">A chance to meet your idols</div>
      <!-- <div class="col-sm-2 col-md-2 col-lg-2"></div> -->
    </div>
</div>
  </div>
  <div class="lower-box" style="padding: 50px;">
  <div class="container text-center">
      <div class="row mb-4 pb-3" id="email-info">
        <div class="col-sm-1 col-md-1 col-lg-2"></div>
        <div class="col-sm-10 col-md-10 col-lg-8 email-info">Join now for weekly access.<br>
          Don’t worry you can unsubscribe with just one click.<br>
          Your information is safe with us. Ryan Seacrest Promise</div>
        <div class="col-sm-1 col-md-1 col-lg-2"></div>
      </div>
      <div class="row" id="form-info">
        <div class="col-sm-1"></div>
        <form class="col-sm-10" id="form">
          <div class="form-group row">
            <span class="col-sm-12 col-md-12 col-lg-3 text-left pt-4">
              <label for="firstName">FIRST NAME</label>
              <input type="text" class="form-control" id="firstName" />
            </span>
            <span class="col-sm-12 col-md-12 col-lg-3 text-left pt-4">
              <label for="Lastname">LAST NAME</label>
              <input type="text" class="form-control" id="lastName" />
            </span>
            <span class="col-sm-12 col-md-12 col-lg-6 text-left pt-4">
              <label for="exampleInputEmail1">EMAIL ADDRESS</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" />
            </span>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
          <div class="form-check text-left pt-3">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" />
            <label class="form-check-label" for="exampleCheck1">By checking this box, I certify that I am 18 years of age
              or older, and that I have read the Terms & Agreements.</label>
          </div>
          <button type="submit" class="btn btn-primary m-3" id="send">JOIN THE BAND</button>
        </form>
        <div class="col-sm-1"></div>
      </div>
    </div>
  </div>
</div>
  <!-- Bootstrap stuffs -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
</body>

</html>