@import url('https://fonts.googleapis.com/css?family=Muli:400,800,900&display=swap');

body {
  font-family: 'Muli', sans-serif;
  
}

/* Web Browser */
.logo {
  max-height: 120px;
}

h1 {
  font-size: 64px;
  font-weight:800;
}

.sub-header {
  font-size: 18px;
  padding: 0 20px;
}

.upper-box {
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.lower-box {
  background-color: #101530;
  color: white;
}

form-group > span {
  padding-top: 50px;
}
#send {
  border-radius: 50px;
  width: 340px;
  height: 60px;
  font-size: 24px;
  background-color: #0C91B8;
  border: none;
}

input[type="text"], input[type="email"]{
  background-color : #242741;
  border: none;
}
input[type="text"]:focus, input[type="email"]:focus{
  background-color :white;
  border: none;
}
.input-error {
  /* background-color: #f8d7da; */
  border: 2px solid #721c24;
}

.alert {
  color: red;
}


@media screen and (max-width: 768px) {
  h1 {
    font-size: 48px;
    font-weight:800;
  }
  .info {
    font-size: 14px;
  }
  .upper-box {
    /* remove upper-box */
  }

  .email-info {
    padding: 0 10px;
  }
}

/* mobile */

@media screen and (max-width: 576px) {
  h1 {
    font-size: 36px;
    font-weight:800;
  }

  #sub-header {
    display: none;
  }

  .info {
    display: none;
  }
  
  .upper-box {
    background: none;
  }

  .lower-box {
    background: none;
  }
  .full-box {
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
  }

}